*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: small;
}

h1, h2{
    font-size: larger;
    color: rgb(41, 74, 102);
}


.detail-section{
    margin: 30px 100px;
}
.nav-a-ton{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 30px;
}
.pages{
    /* margin-bottom: 30px; */
}
.pages h2{
    text-align: center;
    font-size: larger;
}

.img-props{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.card-img{
    display: block;
    padding: 5px;
    background-color: rgba(228, 228, 228, 0.918);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-img:hover{
    transition: ease-in-out 1s;
    transform: scale(1.1);
}

.card-img img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 238, 192, 0.801);
    object-fit: contain;
    aspect-ratio: 3 / 2;
    transition: ease-in-out 1s;
}

.enquiry-form{
    margin: 30px;
}
.enquiry-form #id_email {
    font-size: small;
    display: block;
    width: 50%;
    padding: 10px 15px;
}

.enquiry-form #id_description{
    font-size: small;
    display: block;
    width: 50%;
    padding: 10px 15px;
}

.enquiry-form #id_quote{
    font-size: small;
    display: block;
    width: 200px;
    padding: 10px 15px;
}


@media screen and (max-width:600px) {
    .enquiry-form #id_email {
        width: 80%;
    }

    .enquiry-form #id_description{
        width: 80%;
    }

    .enquiry-form #id_quote{
        width: 80%;
    }
    .detail-section{
        margin: 10px 10px;
    }
    .card-img{
        padding: 5px;
    }
    .main-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-props{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav-a-ton p {
        background-color: rgba(176, 255, 176, 0.897);
        padding: 2px 5px;
        font-size: x-small;
    }
}

.property-description li{
    font-size: small;
}

