*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: small;
}

h1, h2{
    font-size: larger;
    color: rgb(41, 74, 102);
}


/* .header{
    padding: 30px 0;
    background-color: rgb(114, 210, 240);
} */

/* .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}



.nav-a-ton p{
    background-color: rgba(176, 255, 176, 0.897);
    padding: 2px 5px;
} */

.detail-section{
    margin: 30px 100px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}
.nav-a-ton{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 30px;
}
.pages{
    /* margin-bottom: 30px; */
}
.pages h2{
    text-align: center;
    font-size: larger;
    /* padding: 20px; */
}

.props{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.card{
    display: block;
    padding: 15px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(223, 217, 211);
    cursor: pointer;
}
.card:hover{
    border: 2px solid black;
    transition: ease-in-out 1s;
}
.card .like{
    color: aqua;
    text-align: right;
    position: absolute;
    top: 1;
    right: 1;
    cursor: pointer;
    background-color: rgb(79, 87, 87);
    padding: 10px;
}
.card img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-text p{
    background-color: rgb(167, 245, 167);
    padding: 2px 5px;
}

.enquiry-form{
    margin: 30px;

}
.enquiry-form #id_email {
    font-size: small;
    display: block;
    width: 50%;
    padding: 10px 15px;
}

.enquiry-form #id_description{
    font-size: small;
    display: block;
    width: 50%;
    padding: 10px 15px;
}

.enquiry-form #id_quote{
    font-size: small;
    display: block;
    width: 200px;
    padding: 10px 15px;
}


@media screen and (max-width:600px) {
    .enquiry-form #id_email {
        width: 80%;
    }

    .enquiry-form #id_description{
        width: 80%;
    }

    .enquiry-form #id_quote{
        width: 80%;
    }
    .detail-section{
        margin: 10px 10px;
    }
    .card{
        padding: 5px;
    }
    .main-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .props{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nav-a-ton p {
        background-color: rgba(176, 255, 176, 0.897);
        padding: 2px 5px;
        font-size: x-small;
    }
}

.property-description li{
    font-size: small;
}


.agency{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: bisque;
    margin-bottom: 20px;
}
.owner-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.paginate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    display: flex;
    justify-content: safe;
    align-items: center;
}

.pagination li{
    list-style-type: none;
    padding: 10px;
}
