*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    padding: 10px 0;
}

p{
    font-size: small;
}

h1, h2{
    font-size: larger;
    color: rgb(41, 74, 102);
}

.header{
    padding: 30px 0;
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.header-nav h1{
    color: aliceblue;
}
.header-nav a{
    color: whitesmoke;
    text-decoration: underline;
}

.navbar a{
    text-decoration: none;
    margin: 10px;
}

.navbar a:hover{
    background-color: antiquewhite;
    transition: ease-in-out 100ms;
    transform: translateX(5deg);
    padding: 5px 10px;
    color: black;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    padding: 10px 12px;
    border: none;
    width: 30rem;
}
.search button{
    padding: 10px 12px;
}

.main-section{
    margin: 10px 80px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.pages{
    margin: 10px;
}

.pages h2{
    text-align: center;
    font-size: larger;
    padding: 20px;
}

.props{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.card{
    display: block;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(223, 217, 211);
    cursor: pointer;
}


.like{
    color: aqua;
    text-align: right;
    position: absolute;
    top: 1;
    right: 1;
    cursor: pointer;
    background-color: rgb(79, 87, 87);
    padding: 10px;
}

.card img{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card-text p{
    background-color: rgb(167, 245, 167);
    padding: 2px 5px;
}

.card a{
    text-decoration: none;
    color: rgb(92, 82, 82);
}


@media screen and (max-width:600px) {
    .main{
        padding: 10px 0;
    }
    .search{
        display: flex;
        margin-top: 10px;
    }
    .search input{
        width: fit-content;        
    }
    .header-nav{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar a{
        font-size: small;
    }
    .main-section{
        margin: 0 0;
        width: 100%;
    }
    .card{
        padding: 5px;
    }
    .main-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .props{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.agencies{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #477e94e3;
    /* border: 2px dotted violet; */
    display: block;
    justify-content: center;
    align-items: center;
}

.agency{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: bisque;
    margin-bottom: 20px;

}

@keyframes backgroup {
    0% {
        background-color: none;
    }
    25% {
        background-color: aquamarine;
    }
    50% {
        background-color: #2e3b41;
        color: white;
    }
    75% {
        background-color: bisque;
    }
    100% {
        background-color: #eba9a9;
    }
}

.agency:hover {
    background-color: rgb(219, 217, 215);
    animation: backgroup 5s infinite;
}

.owner-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.owner-info p{
    font-size: 16px;
    font-family: system-ui, -apple-system, "BlinkMacSystemFont",
        'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.owner-info-text p{
    font-size: 16px;
    font-family: system-ui, -apple-system, "BlinkMacSystemFont", 
    'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.more-owners a{
    padding: 5px 20px;
    background-color: rgb(13, 13, 27);
    border: none;
    color: white;
}

.testimony-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 100px;
}

.testimony-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.testimony h2{
    text-align: center;
}

.testimony-a{
    border-left: 2px solid rgb(163, 154, 154);
    padding: 10px; 
    box-shadow: 2px 5px 12px rgb(146, 135, 137);
    transition: ease-in-out 1s;
}

/* .testimony-a:hover{

} */

.testimony-a p{
    padding-left: 5px;
    font-style: italic;
    line-height: 20px;
}


.step-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: small;
}
.step-links a{
    margin: 5px;
    background-color: black;
    padding: 3px 5px;
    color: white;
    text-decoration: none;
    font-size: small;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li{
    list-style-type: none;
    padding: 10px;
}

#fooTER{
    background: linear-gradient(to bottom, #2e3b41, #477e94e3);
    color: whitesmoke;
    /* height: 50vh; */
}

.footer-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-info h2{
    color: rgba(221, 223, 223, 0.89);
}

.contact-info p{
    font-size: 16px;
    font-family: system-ui, -apple-system, "BlinkMacSystemFont",
        'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.property-locations{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.property-locations p{
    font-size: 16px;
    font-family: system-ui, -apple-system, "BlinkMacSystemFont",
        'Segoe UI', "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.locations b{
    text-align: center;
}

.locations h2{
    color: #c0c1c2e3;
    text-align: center;
}

.reachOut{
    padding: 10px;
}

@media screen and (max-width:600px) {
    .reachOut input{
        width: fit-content;
    }
    .footer-div{
        display: grid;
        grid-template-columns: 1fr;
    }
    .testimony-section{
        margin: 30px 40px;
    }

    .testimony-list{
        display: block;
        justify-content: flex-start;
        align-items: center;
    }
    .testimony-a{
        margin-bottom: 10px;
    }
}