{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" href="{% static './css/details.css' %}">
</head>
<body>
    <section class="main-estate">
        <main class="main-section">
            <div class="pages">
                <div class="">
                    <h2>Property Details</h2>
                    <div class="nav-a-ton">
                        <p><b>Price: $200000</b></p>
                        <p><b>Agent/ Agency</b></p>
                        <p>12/03/23 - 13:24GMT</p>
                    </div>
                </div>

                <div class="props">
                    <div class="card">
                        <img src="{% static './img/dream-house.jpg' %}" alt="">
                        <div class="text-card">
                            <b>Description:</b><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem corporis ratione quod? Ratione sequi possimus, quidem voluptates accusamus quam tempora.</p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="{% static './img/dream-house.jpg' %}" alt="">
                        <div class="text-card">
                            <b>Description:</b><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, aliquid veniam. Ullam suscipit accusantium quia laboriosam. Nam saepe maiores maxime?</p>
                        </div>
                    </div>  

                    <div class="card">
                        <img src="{% static './img/dream-house.jpg' %}" alt="">
                        <div class="text-card">
                            <b>Description:</b><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, aliquid veniam. Ullam suscipit accusantium quia laboriosam. Nam saepe maiores maxime?</p>
                        </div>
                    </div>  

                    <div class="card">
                        <img src="{% static './img/dream-house.jpg' %}" alt="">
                        <div class="text-card">
                            <b>Description:</b><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique nemo aspernatur recusandae alias numquam ullam eveniet saepe minima reiciendis!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div>
                    <b>Property Detailed Description</b>
                    <p><li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea laborum dolorem beatae, eius minus delectus! Eaque sequi repudiandae voluptatem! Odio voluptatum asperiores accusamus fugiat, perspiciatis veniam, veritatis tempore blanditiis neque voluptate, quam rem ipsa et provident temporibus sapiente cupiditate quasi a sint in! Consequatur cum sapiente totam rem voluptatum neque ratione earum dolor alias. Iusto, adipisci consectetur. Adipisci, odio. Veniam.</li></p>
                </div>
            </div>
        </main>
    </section>
</body>
</html>