{% extends 'index.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" href="{% static './css/details.css' %}">
</head>
<body>
    <section class="main-estate">
        <main class="detail-section">
            <div class="pages">
                <div class="">
                    <h2>Property Details</h2>
                    {% if property_detail %}
                    <div class="nav-a-ton">
                        <p><b>Price: ${{property_detail.price}}</b></p>
                        <p><b>Agent/ Agency: {{property_detail.agency.agency_name}}</b></p>
                        <p>{{property_detail.date_posted}}</p>
                    </div>
                    {% endif %}
                </div>

                <div class="props">
                    {% for property_image in images %}
                    <div class="card">
                        <img src="{{property_image.image.url}}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="description">
                <div class="property-description">
                    <b>Property Detailed Description</b>
                    {% if property_detail %}
                    <ul><li>{{property_detail.description | linebreaksbr}}</li></ul>
                    {% endif %}
                </div>
            </div>
            <div class="enquiry-form">
                <h2>Launch a Bid</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button style="background-color: black; padding: 8px 25px; color: white; border: none;cursor: pointer;">Submit</button>
                </form>
            </div>
        </main>
    </section>
    <script>

        function openImage(imageUrl) {
            // Create a new window.
            const newWindow = window.open(imageUrl, "_blank");

            // Set the width and height of the new window.
            newWindow.width = 600;
            newWindow.height = 400;
        }

        // Add an event listener to the image.
        const image = document.querySelectorAll(".card img");
        image.forEach((i)=>{

            i.addEventListener("click", () => {
                // Get the image URL.
                const imageUrl = i.getAttribute("src");

                // Open the image in a new window.
                openImage(imageUrl);
            });
        })

    </script>
</body>
{% endblock %}
