{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LM Estate | Home</title>
    <link rel="stylesheet" href="{% static './css/base.css' %}">
</head>

<body style="padding: 0; margin: 0; box-sizing: border-box;">
    <section>
        <div style="width: 100vw; height: 60vh;">
            <img style="background-position: center; width: 100vw; height: 100%;" src="{% static './img/herobanner.jpg' %}" alt="homepage">
        </div>

        <div class="business-type">
            <div class="status-types">
                <img src="{% static './img/dream-house.jpg' %}" alt="">
                <h2>SELL A PROPERTY</h2>
                <p>Do you have some completed residential property you want to sell at a very fast pace? 
                    Then speak to our seasoned real estate professionals who will help you get the best buyer for your property. They are friendly, reliable and honest men and women who have made it their duty to help people like you get exactly what they want.
                </p>
            </div>
            <div class="status-types">
                <img src="{% static './img/rent_home.jpg' %}" alt="">
                <h2>BUY A PROPERTY</h2>
                <p>Do you wish to own that dream house but finding it difficult to find one? Speak to our seasoned professionals who have the track record to assist you make the right choice. Do not go anywhere that you might have litigation issues later on. Come to us and your dream will come through.</p>
            </div>
            <div class="status-types">
                <img src="{% static './img/sale_home.jpg' %}" alt="">
                <h2>RENT A PROPERTY</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illo, enim numquam labore odit soluta explicabo natus rem ut fugiat reprehenderit omnis maiores impedit harum eligendi sunt doloremque quidem saepe delectus, ab dignissimos optio. Dolore obcaecati ut eum quibusdam architecto vero! </p>
            </div>
        </div>
    </section>
</body>
</html>