{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LM ESTATE</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="icon" href="{% static './img/dream-house.jpg' %}" type="png">
    <!-- <script src="{% static 'https://unpkg.com/htmx.org@1.9.3' %}" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script> -->
</head>
<body class="main-body" id="container">
    <main>
        <header class="header">

            <div class="header-nav">
                <a style="text-decoration: none;" href="{% url 'home' %}"><h1>LM Estates Manager</h1></a>
                {% if request.user.is_authenticated %}
                <div class="navbar">
                    <a href="{% url 'logout' %}">Logout</a>
                    <a style="background-color: rgb(233, 138, 138); padding: 5px 12px;" href="#contact">Reach Out</a>                     
                </div>
                {% else %}
                <div class="navbar">
                    <a href="{% url 'register' %}">Register</a>
                    <a href="{% url 'login' %}">Login</a>
                </div>
                {% endif %}
            </div>

            <div class="search">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="q" id="value" value="{{q}}" 
                    placeholder="Search by: location, status">
                    <button>Search</button>                     
                </form>
            </div>
        </header>
        {% block content %}
        <section class="main-estate">
            <main class="main-section">
                <div class="pages">
                    <h2>Property List</h2>
                    <div class="props">
                        <!-- property cards are coming from a property-card.html file -->
                        {% include 'snippets/property-card.html' %}
                    </div>
                    <!-- <div id="card-list"></div> -->
                </div>
                <div class="pages">
                    <h2>Find Agents</h2>
                    <div class="agencies">
                        {% if request.user.is_authenticated %}
                            {% for agent in agency %}
                            <div class="agency">
                                <div class="owner-info">
                                    <img src="{{agent.agency_image.url}}" alt="">
                                    <a href="{% url 'agent-list' agent.id %}"><p><b>{{agent.agency_name}}</b></p></a>
                                </div>
                                <div class="owner-info-text">
                                    <p>Number of properties listed: {{agent.property_count}}</p>
                                    <p>Agency Location: {{agent.agent_location}}</p>
                                    <p>Registered Since: {{agent.date_registered | timesince}}</p>                     
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% for agent in agency %}
                            <div class="agency">
                                <div class="owner-info">
                                    <img src="{{agent.agency_image.url}}" alt="">
                                    <p><b>{{agent.agency_name}}</b></p>
                                </div>
                                <div class="owner-info-text">
                                    <p>Number of properties listed: {{agent.property_count}}</p>
                                    <p>Agency Location: {{agent.agent_location}}</p>
                                    <p>Registered Since: {{agent.date_registered | timesince}}</p>                     
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}

                        <p class="more-owners"><a href="">More</a></p>
                    </div>
                </div> 
         
            </main>
            <div class="testimony-section">
                <div class="testimony">
                    <h2>What people say</h2>
                    <div class="testimony-list">
                        <div class="testimony-a">
                            <p><b>Eugene</b></p>
                            <p>"I was so nervous about selling my house, but working with LM Estate made the whole process so much easier. She was knowledgeable, responsive, and always went the extra mile to help me find the right buyer. I would highly recommend her to anyone looking to buy or sell a home."</p>
                        </div>
                        <div class="testimony-a">
                            <p><b>Edem</b></p>
                            <p>"I had been looking for a new home for months, and I was starting to get discouraged. But then I met LM Estate, and everything changed. She showed me a great selection of homes, and she was always available to answer my questions. I ended up buying my dream home, and it's all thanks to her."</p>
                        </div>
                        <div class="testimony-a">
                            <p><b>Abena</b></p>
                            <p>"I was a first-time homebuyer, and I didn't know what to expect. But LM Estate was so patient and understanding. She took the time to explain everything to me, and she made sure that I was comfortable with every step of the process. I couldn't have asked for a better agent."</p>
                        </div>                            
                    </div>
                </div>
            </div>
            <!-- pagination views -->
            <div class="pagination">
                <div class="step-links">
                {% if property_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ property_list.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                    Page {{ property_list.number }} of {{ property_list.paginator.num_pages }}.
                    </span>
                    {% if property_list.has_next %}
                    <a href="?page={{ property_list.next_page_number }}">next</a>
                    <a href="?page={{ property_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
                </div>
            </div>
        </section>
        {% endblock %}
        <footer id="fooTER">
            <section class="footer menu">
                <main class="footer-div">
                    <div class="reachOut reach">
                        <div class="contact-info">
                            <h2>LM ESTATES</h2>
                            
                            <p><label for="email"><img style="height: 10px; margin-right: 5px;" src="{% static './img/mail.svg' %}" alt=""></label>lmestates@lm.com</p>
                            
                            <p><label for="phone"><img style="height: 10px; margin-right: 5px;" src="{% static './img/phone.svg' %}" alt=""></label>+233544598658</p>
                            <div>
                                <p>Location: Cresent Avenue</p>
                                <p>Hse No. 12, Damson Street</p>
                            </div>
                        </div>
                        <div style="margin-top: 20px;">
                            <hr>
                            <span>
                                <a href="#"><img style="height: 15px; margin: 10px;" src="{% static './img/facebook.svg' %}" alt="follow us on facebook"></a>
                                <a href="#"><img style="height: 15px; margin: 10px;" src="{% static './img/tweeticon.svg' %}" alt="tweet at us"></a>
                                <a href="#"><img style="height: 15px; margin: 10px;" src="{% static './img/insta.svg' %}" alt="instagram"></a>
                            </span>
                        </div>
                    </div>
                    <div id="contact" class="reachOut">
                        <div class="locations">
                            <h2>Locations</h2>
                            <div class="property-locations">
                                <span>
                                    <p>East Legon</p>
                                    <p>Adjiringanor</p>
                                    <p>Ogbojo</p>
                                    <p>Madina</p>
                                    <p>Botwe</p>
                                    <p>North Legon</p>
                                    <p>Shiashie</p>
                                    <p>Adenta</p>
                                    <p>Riz Junction</p>
                                </span>
                                <span>
                                    <p>Bawaleshie</p>
                                    <p>East Legon Hills</p>
                                    <p>Estate</p>
                                    <p>UPSA</p>
                                    <p>Adabraka</p>
                                    <p>Manet</p>
                                    <p>Spintex</p>
                                    <p>Cocacola</p>
                                    <p>Nungua</p>
                                </span>                            
                            </div>
                        </div>      
                    </div>  
                </main>
                <div style="text-align: center; color: rgb(53, 51, 50); margin-top: 80px;">
                    <i><p>Copyright &COPY; LM Estate 2023</p></i>
                </div>
            </section>
        </footer>
    </main>

</body>
<script src="{% static './js/htmx.min.js' %}"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
</html>